.second{
    margin: 70px 0;
    display: flex;
    flex-wrap: wrap;
    .forty{
        width: 45%;
        position: relative;
        &__text{
            padding: 14% 7%;
            position: absolute;
            top: 0;
            color: white;
            h1,h3,h4{
                color: white;
                text-transform: uppercase;
            }
            a{
                color: white;
            }
            h1{
                font-size: 46px;
                font-family: 'Cormorant Garamond';
            }
        }
    }
    .sixty{
        width: 55%;
        background-color: #CEC6C4;
        &__img{
            position: relative;
            width: 69%;
            margin: 10% auto;
            border: 70px solid white;
            img{
                width: 100%;
                height: 100%;
            }
            p{
                position: absolute;
                bottom: 0;
                color: white;
                text-align: center;
            }
        }
    }
}


@media(max-width:869px){
    .second{
        .sixty{
            &__img{    
                border: 30px solid white;
                p{
                    position: absolute;
                    bottom: 0;
                    color: white;
                    text-align: center;
                    font-size: 10px;
                }
            }
        }
    }
}

@media(max-width:800px){
    .second{
        .sixty{
            width: 90%;
            margin: 20px auto;
        }
        .forty{
            width: 90%;
            margin: 20px auto;
            font-size: 14px;
            img{
                width: 100%;
            }
            &__text{
                h1{
                    font-size: 24px;
                }
            }
        }
    }
}